<a href="https://colab.research.google.com/github/ravirude/Project_Portfolio/blob/main/REAL_PROJECT_4_'UDEMY_COURSES_ANALYSIS'.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is the dataset contain all course data for all subjects.

We will analyze this data using the pandas library.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("7. Udemy Courses.csv")

In [ ]:
df.head(2)

   course_id  ...              subject
0     288942  ...  Musical Instruments
1    1170074  ...  Musical Instruments

[2 rows x 11 columns]

# Q1. What are all different subjects for which Udemy is offering courses.

In [ ]:
df.subject.unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

# Q2. Which subject has maximum number of courses.

In [ ]:
df.subject.value_counts()

Web Development        1200
Business Finance       1199
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

# Q3. Show all the courses which are Free of Cost.

In [ ]:
df[df.is_paid == False]

      course_id  ...              subject
41       286070  ...  Musical Instruments
49       696630  ...  Musical Instruments
57       955914  ...  Musical Instruments
67       270976  ...      Web Development
74      1214144  ...     Business Finance
...         ...  ...                  ...
3620     552598  ...      Web Development
3638    1068590  ...      Web Development
3652     752706  ...      Web Development
3674    1257976  ...  Musical Instruments
3680    1225194  ...     Business Finance

[310 rows x 11 columns]

# Q4.Show all the courses which are Paid.

In [ ]:
df[df.is_paid == True]

      course_id  ...              subject
0        288942  ...  Musical Instruments
1       1170074  ...  Musical Instruments
2       1193886  ...  Musical Instruments
3       1116700  ...  Musical Instruments
4       1120410  ...  Musical Instruments
...         ...  ...                  ...
3676     498488  ...     Business Finance
3677     328960  ...      Web Development
3678     552700  ...  Musical Instruments
3679     631754  ...      Web Development
3681     964478  ...       Graphic Design

[3372 rows x 11 columns]

# Q5. Which are Top Selling Course.

In [ ]:
df.sort_values('num_subscribers', ascending = False)

      course_id  ...              subject
2230      41295  ...      Web Development
776       59014  ...      Web Development
3385     625204  ...      Web Development
640      173548  ...      Web Development
3316     764164  ...      Web Development
...         ...  ...                  ...
2290    1223240  ...  Musical Instruments
1267    1258666  ...     Business Finance
2070    1215926  ...     Business Finance
1931    1247992  ...     Business Finance
3165    1087466  ...     Business Finance

[3682 rows x 11 columns]

# Q6. Which are the least selling course.

In [ ]:
df.sort_values('num_subscribers', ascending=True)

      course_id  ...           subject
649     1233314  ...  Business Finance
3259    1232282  ...  Business Finance
3261    1275872  ...    Graphic Design
910      726314  ...    Graphic Design
3328     715476  ...  Business Finance
...         ...  ...               ...
3316     764164  ...   Web Development
640      173548  ...   Web Development
3385     625204  ...   Web Development
776       59014  ...   Web Development
2230      41295  ...   Web Development

[3682 rows x 11 columns]

# Q7. Show all courses of Graphics Design where price is below 100.

In [ ]:
df[(df.subject == 'Graphic Design') & (df.price < '100')]    ## So there is no course price < 100 after run code.

Empty DataFrame
Columns: [course_id, course_title, is_paid, price, num_subscribers, num_reviews, num_lectures, level, content_duration, published_timestamp, subject]
Index: []

# Q8. List out all the courses that are releated with python

In [ ]:
df[df.course_title.str.contains('Python')]

      course_id  ...           subject
216      599504  ...   Web Development
777       47963  ...   Web Development
814      631128  ...   Web Development
842      186096  ...   Web Development
1400     394832  ...   Web Development
1932    1038538  ...   Web Development
1969     902888  ...  Business Finance
2294     391546  ...   Web Development
2295    1063722  ...   Web Development
2341     546848  ...    Graphic Design
2906     368340  ...   Web Development
2908    1035940  ...   Web Development
2929     270808  ...   Web Development
2952    1170894  ...  Business Finance
2953    1070886  ...  Business Finance
2954    1196544  ...  Business Finance
2955     822444  ...   Web Development
2956     477702  ...   Web Development
2957    1035472  ...  Business Finance
2958     529828  ...  Business Finance
2959      70640  ...   Web Development
2960     523312  ...   Web Development
2962    1088656  ...  Business Finance
3013     970600  ...   Web Development
3154     815482  ...  Business Finance
3272     938560  ...   Web Development
3460      76052  ...   Web Development
3573      16646  ...   Web Development
3574     574082  ...   Web Development

[29 rows x 11 columns]

## Q9. What are the course that published in year 2015.

In [ ]:
df.head(1)

   course_id  ...              subject
0     288942  ...  Musical Instruments

[1 rows x 11 columns]

In [ ]:
df.dtypes

course_id               int64
course_title           object
is_paid                  bool
price                  object
num_subscribers         int64
num_reviews             int64
num_lectures            int64
level                  object
content_duration       object
published_timestamp    object
subject                object
dtype: object

In [ ]:
df['published_timestamp'] = pd.to_datetime(df.published_timestamp	)

In [ ]:
df.dtypes

course_id                            int64
course_title                        object
is_paid                               bool
price                               object
num_subscribers                      int64
num_reviews                          int64
num_lectures                         int64
level                               object
content_duration                    object
published_timestamp    datetime64[ns, UTC]
subject                             object
year                                 int64
dtype: object

In [ ]:
df['year'] = df['published_timestamp'].dt.year

In [ ]:
df

      course_id  ...  year
0        288942  ...  2014
1       1170074  ...  2017
2       1193886  ...  2017
3       1116700  ...  2017
4       1120410  ...  2017
...         ...  ...   ...
3677     328960  ...  2015
3678     552700  ...  2015
3679     631754  ...  2015
3680    1225194  ...  2017
3681     964478  ...  2016

[3682 rows x 12 columns]

In [ ]:
df[df.year == 2015]

      course_id  ...  year
0        288942  ...  2015
1       1170074  ...  2015
2       1193886  ...  2015
3       1116700  ...  2015
4       1120410  ...  2015
...         ...  ...   ...
3677     328960  ...  2015
3678     552700  ...  2015
3679     631754  ...  2015
3680    1225194  ...  2015
3681     964478  ...  2015

[3682 rows x 12 columns]

# Q10. What are maximum number of subscribers for each level of courses

In [ ]:
df.level.unique()

array(['All Levels', 'Intermediate Level', 'Beginner Level',
       'Expert Level'], dtype=object)

In [ ]:
df.groupby('level')['num_subscribers'].max()

level
All Levels            268923
Beginner Level        161029
Expert Level            5172
Intermediate Level     29167
Name: num_subscribers, dtype: int64

In [ ]:
df.groupby('level').max()

                    course_id  ...  year
level                          ...
All Levels            1277924  ...  2015
Beginner Level        1282064  ...  2015
Expert Level          1275790  ...  2015
Intermediate Level    1276182  ...  2015

[4 rows x 11 columns]